<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://google.com/">EJS</a>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre Mim</a></li>
        </ul>
    </nav>
</header>