<!DOCTYPE html>
<html lang="pt-br">

<%- include("head"); %>

<body class="container">
    <%- include("header"); %>
    
    <main>
        <div class="jumbotron">
            <h1>NodeJS com EJS</h1>
            <p>Aprendendo a Trabalhar com Arquivos EJS</p>
        </div>
    </main>

    <%- include("footer"); %>
</body>
</html>