<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>

<body class="container">
    <%- include("../partials/header", {page: "Sobre"}); %>
    
    <main>
        <div class="jumbotron">
            <h1>Sobre Mim</h1>
            <p>Atualmente Estou Aprendendo a Trabalhar com Linguagens Back-End</p>
        </div>
    </main>

    <%- include("../partials/footer"); %>
</body>
</html>